form(method="POST" action="/new")
    h1= "Add a new message"
    input(type="text" name="user_name" placeholder="User Name")
    input(type="text" name="message" placeholder="Message")
    input(type="submit" value="Add Message")